a{
  text-decoration: none;
}

.nav-links{
  text-align: center;
  padding: 1rem 0;
  color: black;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
}

.nav-links:hover{
  background-color: rgb(232, 232, 232);
}